<div class="container">
        <div class="contact-us-header">
            <h2>Contact us!</h2>
        </div>
        <div class="contact-us-information">
            <h3>Telephone</h3>
            <p>01543 558159</p>
            <h3>Email</h3>
            <p>moviestreams@contact.com</p>
            <h3>Adress</h3>
            <p>15 Hoffman Lane,</p>
            <p>Scotland, SC32 9JH</p>
            <h3>Social media links</h3>
            <p class="social-media-icons">
                <fa-icon [icon]="faFacebook"></fa-icon> 
                <fa-icon [icon]="faTwitter"></fa-icon> 
                <fa-icon [icon]="faTiktok"></fa-icon> 
                <fa-icon [icon]="faInstagram"></fa-icon>
            </p>
        </div>
</div>