<!--Whole film page component contains -> film, film details, chat, chatbox-->
<section class="main-container">
    <!--Hold the film and film infomation divs-->
    <div class="film-container">
        <div class="film-video-container">
            <!--filmvideo component goes into this container div-->
            <app-filmvideo></app-filmvideo>
        </div>
        <div class="film-information-container">
            <!--filmdetails component goes into this container div-->
            <app-filmdetails></app-filmdetails>
        </div>
    </div>
    <!--Hold the chat and chat submit divs-->
    <div class="chat-container">
        <div class="chat-messages-container">
            <!--chatmessages component goes into this container div-->
            <app-chatmessages></app-chatmessages>
        </div>
        <div class="chat-submit-container">
            <!--chatsubmit component goes into this container div-->
            <app-chatsubmit></app-chatsubmit>
        </div>
    </div>
  </section>
