<!-- when a film is searched for and returned this is the format of the returned film-->
<div class="search-item-container">
    <div class="image-container">
        <a [href]="'/film/'+film.filmId">
            <img class="image-title" [src]="'https://picsum.photos/id/'+film.filmId+'/200'" alt="film image">
        </a>
    </div>
    <div class="title-container">
      <a class="film-title-link" [href]="'/film/'+film.filmId">{{ film.title }}</a>
    </div>
    <div class="category-container">
      {{ film.filmCategory[0].name }}
  </div>
    <div class="rating-container">
        {{ film.score}} <fa-icon [icon]="faStar"></fa-icon>
    </div>
</div>
