.search-item-container{
    width: 175px;
    height: 230px;
    float: left;
}

.image-title{
    width: 90px;
    height: 130px;
}

.image-title:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px 1px rgb(130, 30, 150);
}

.title-container{
    font-size: 1.2rem;
}

.rating-container{
    font-size: 1.2rem;
}

.film-title-link{
  color: black;
}

.film-title-link:hover{
  font-weight: bold;
  cursor: pointer;
  font-size: larger;
}
