<div class="container">
    <form (ngSubmit)="onSubmit()">
        <div class="forgotten-password-header">
            <h2>Forgotten password?</h2>
        </div>
        <div class="info-container">
            <p>Enter the email you signed up with the recive a password reset.</p>
            <p>Please give a few minutes for the email to send before trying again.</p>
            <p id="email-confirmation"></p>
        </div>
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="text" name="email" [(ngModel)]="email" id="email" placeholder="Enter your email here">
        </div>
        <div class="email-reset-button-container">
            <input type="submit" value="Send Email" class="btn login-button">
        </div>
    </form>
    <div class="login-container">
        <p> <a href="/login">Return to login page</a></p>
    </div>
</div>
