<!--Chat box header-->
<div class="chat-header-container">
    <div class="header-text">
        <div class="chat-header-text">
            <h2>Chat</h2>
        </div>
        <div class="chat-header-viewers">
            <h2>Viewers: 1,231</h2>
        </div>
    </div>

</div>
<!--Chat messages box-->
<div class="chat-messages-container">
    <div class="welcome-message">
        <p>Welcome to chat!</p>
    </div>
    <!--Each indivdual chat message - can be a component in later iterations-->
    <div class="chat-message">
        <div class="chat-username">
            <p>Frodo4life: </p>
        </div>
        <div class="chat-message">
            <p>Sam 4 ever!</p>
        </div>
    </div>
    <!--message two-->
    <div class="chat-message">
        <div class="chat-username">
            <p>YOYOYO12345: </p>
        </div>
        <div class="chat-message">
            <p>This is going to be a longer message to test what happens after a long rant about frodo</p>
        </div>
    </div>
</div>