<!--Chat box header-->
<div class="chat-header-container">
    <div class="header-text">
        <div class="chat-header-text">
            <h2>Live Chat</h2>
        </div>
        <div class="chat-header-viewers">
            <h2>Viewers: 1,231</h2>
        </div>
    </div>

</div>
<!--Chat messages box-->
<div class="chat-messages-container" id="chat-messages-container">
    <div class="welcome-message">
        <p>Welcome to chat!</p>
    </div>
    <!--Each indivdual chat message - can be a component in later iterations-->
</div>
