<!--Component to hold and display information about the films that are going live soon-->
<div class="schedule-item-container">
    <!--film item information-->
    <div class="film-item-container">
        <app-filmitem [film]="film"></app-filmitem>
    </div>
    <!--schedules time, countdown and reserve space-->
    <div class="schedule-information-container">
        <div class="show-time-container">
            <b>Starting time:</b> {{ film.nextShowing }}
        </div>
        <div class="extra-information">
            <div class="people-going-container" id="tickets-container">
                <b>Tickets reserved:</b> {{ film.ticketsReserved }}
            </div>
            <div class="reserve-ticket-button-container">
                <button (click)="onReserveTicket()" class="reserve-ticket-button">Reserve Ticket!</button>
            </div>
        </div>
    </div>
</div>
