<!--Whole main page component contains -> top10, reccomended films, search, chatbox-->
<div class="main-container">
    <!--Hold the film and film infomation divs-->
    <div class="films-container">
        <div class="top10-container">
            <!--top10 component goes into this container div-->
            <app-top10></app-top10>
        </div>
        <div class="reccomended-container">
            <!--reccomended component goes into this container div-->
            <app-recommended></app-recommended>
        </div>
    </div>
    <!--Hold the chat and chat submit divs-->
    <div class="search-schedule-container">
        <div class="search-container">
            <!--search component goes into this container div-->
            <app-search></app-search>
        </div>
        <div class="schedule-container">
            <!--schedule component goes into this container div-->
            <app-schedule></app-schedule>
        </div>
    </div>
</div>