.main-container {
    width: 100%;
    height: calc(120vh - 65px);
    background:rgb(119, 25, 148);
    margin: auto;
    padding: 5px;
    top: 0;
}

.films-container {
    float: left;
    height: 100%; 
    width: 450px; 
    border-right: 1px solid #b6b6bb; 
}

.top10-container{
    width:100%;
    height:calc(100% - 200px);
    background-color: rgb(216, 206, 206);
    border-bottom: 1px solid #b6b6bb;
}

.reccomended-container{
    width:100%;
    height: 200px;
    background-color: rgb(216, 206, 206);
}

.search-schedule-container{
    float: right;
    width:calc(100% - 450px);
    height: 100%;
}

.search-container{
    width:100%;
    height:360px;
    background-color: rgb(216, 206, 206);
    min-height: 340px;
}

.schedule-container{
    width:100%;
    height: calc(100% - 360px);
    background-color: rgb(216, 206, 206);
}
