<!--Film item contains all infomation for the homepage-->
<div class="filmitem-details-container">
    <div class="filmitem-image-container">
        <!--Image of the film-->
        <div class="filmitem-image">
            <a [href]="'/film/'+film.filmId">
                <img class="image-title" [src]="'https://picsum.photos/id/'+film.filmId+'/200'" alt="film image">
            </a>
        </div>
        <!--Contain title, rating and release date and link to more info-->
        <div class="filmitem-details-container">
            <div class="filmitem-details">
                <div class="film-title">
                    <a class="film-title-link" [href]="'/film/'+film.filmId">{{ film.title }}</a>
                </div>
                <div class="release-date">
                  Released: {{ film.releaseYear }}
                </div>
                <div class="category">
                  Category: {{ film.filmCategory[0].name }}
              </div>
                <div class="film-rating">
                    {{ film.score }} <fa-icon [icon]="faStar"></fa-icon> ({{ film.scoreCount }})
                </div>
                <div class="show-more">
                    <a [href]="'/more/'+film.filmId" target="_blank">More details...</a>
                </div>
            </div>
        </div>
    </div>

</div>
