<!--Film item contains all infomation for the homepage-->
<div class="filmitem-details-container">
    <div class="filmitem-image-container">
        <!--Image of the film-->
        <div class="filmitem-image">
            <a href="/film">
                <img class="image-title" src="./assets/placeholder_image.PNG" alt="film image">
            </a>
        </div>
        <!--Contain title, rating and release date and link to more info-->
        <div class="filmitem-details-container">
            <div class="filmitem-details">
                <div class="film-title">
                    {{ film.title }}
                </div>
                <div class="release-date">
                    {{ film.releaseYear }}
                </div>
                <div class="film-rating">
                    {{ film.score }} <fa-icon [icon]="faStar"></fa-icon> ({{ film.scoreCount }})
                </div>
                <div class="show-more">
                    More details... filmid({{ film.filmId }})
                </div>
            </div>
        </div>
    </div>

</div>
