<!--Film item contains all infomation for the homepage-->
<div class="filmitem-details-container">
    <div class="filmitem-image-container">
        <!--Image of the film-->
        <div class="filmitem-image">
            <img class="image-title" src="./assets/LOTR-image.PNG" alt="film image">
        </div>
        <!--Contain title, rating and release date and link to more info-->
        <div class="filmitem-details-container">
            <div class="filmitem-details">
                <div class="film-title">
                    Lord of the rings: Fellowship Of the rings
                </div>
                <div class="release-date">
                    Release date: 2001
                </div>
                <div class="film-rating">
                    8.8 <fa-icon [icon]="faStar"> (12,458)</fa-icon> (12,458)
                </div>
                <div class="show-more">
                    More details...
                </div>
            </div>
        </div>
    </div>

</div>