<!--The content below is only a placeholder and can be replaced for a different header or nav bar-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
     <span><a style ="color:aliceblue" href="/home"><fa-icon [icon]="faHome"></fa-icon>Movie Stream</a></span>
     <span class="spacer"></span>
     <a mat-button routerLink="/contactus">Contact us <fa-icon [icon]="faPhone"></fa-icon></a>
     <a mat-button routerLink="/register">Register <fa-icon [icon]="faPen"></fa-icon></a>
     <a mat-button routerLink="/login">Login <fa-icon [icon]="faTurnUp"></fa-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
<!--Allow paths and routes to be connected to the header here-->
<router-outlet></router-outlet>
