<div class="container">
    <form>
        <div class="sign-up-header">
            <h2>Sign in!</h2>
        </div>
        <div class="form-control">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter username here">
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter Password here">
        </div>
        <div class="sign-in-button-container">
            <input type="submit" value="Sign in" class="btn sign-in-button">
        </div>
    </form>
    <div class="forgot-password-container">
        <p>Forgot your password?</p>
    </div>
</div>