<div class="container">
    <form>
        <div class="login-header">
            <h2>Login to Movie Stream!</h2>
        </div>
        <div class="form-control">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter Username here">
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter Password here">
        </div>
        <div class="login-button-container">
            <input type="submit" value="Login" class="btn login-button">
        </div>
    </form>
    <div class="forgot-password-container">
        <p>Forgot your password?</p>
    </div>
</div>