<div class="container">
  <form (ngSubmit)="changePasswordSubmit()">
      <div class="change-password-header">
          <h2>Change Password</h2>
      </div>
      <div class="info-container">
          <p>Enter your username and old password before your new password.</p>
          <p id="email-confirmation"></p>
      </div>
      <div class="form-control">
          <label for="username">Username:</label>
          <input type="text" name="username" [(ngModel)]="username" id="username" placeholder="Enter your username here">
      </div>
      <div class="form-control">
        <label for="oldPassword">Current password:</label>
        <input type="password" name="oldPassword" [(ngModel)]="oldPassword" id="oldPassword" placeholder="Enter your current password here">
    </div>
    <div class="form-control">
      <label for="newPassword">New password:</label>
      <input type="password" name="newPassword" [(ngModel)]="newPassword" id="newPassword" placeholder="Enter your new password here">
  </div>
  <div class="form-control">
    <label for="newPassword_check">Confirm new password:</label>
    <input type="password" name="newPassword_check" [(ngModel)]="newPassword_check" id="newPassword_check" placeholder="Confirm your new password">
  </div>
      <div class="password-reset-button-container">
          <input type="submit" value="Update!" class="btn login-button">
      </div>
  </form>
  <div class="confirmation-container" id="confirmation-container">
    <!--Confirmation of user updating password-->
  </div>
  <div class="login-container">
      <p> <a href="/login">Return to login page</a></p>
  </div>
</div>
