<div class="film-details-container">

    <div class="film-details-left-container">
        <div class="film-image-container">
            <div class="film-image">
                <img class="image-title" src="./assets/LOTR-image.PNG" alt="film image">
            </div>

            <div class="film-details-container">
                <div class="film-details">
                    <div class="film-title">
                        <p>Lord of the rings: Fellowship of the rings</p>
                    </div>
                    <div class="release-date">
                        <p>Release date: 2001</p>
                    </div>
                    <div class="film-length">
                        <p>Length: 158 minutes</p>
                    </div>
                    <div class="show-more">
                        <p>More details...</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="film-details-right-container">
        <div class="star-rating-icon-container">
            <div class="rating-the-film">
                <div class="rating-header">
                    <h1>Rate this film!</h1>
                </div>
                <div class="stars-container">
                    <p>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                </p>
                </div>
            </div>
            <div class="current-rating">
                <p>Current rating : 8.8 <fa-icon [icon]="faStar"></fa-icon></p>
            </div>
        </div>
    </div>

</div>