h1{
    font-weight: bold;
}

.film-details-container{
    display: flex;
}

.film-details-left-container{
    float: left;
    padding-left: 10px;
    padding-top:10px;
    width:600px;
    min-width: 450px;
}

.film-details-right-container{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 250px;
}

.film-image-container{
    display: flex;
    flex: 1;
    padding-right: 10px;
}

.image-title{
    width: 90px;
    height: 130px;
}

.image-title:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px 1px rgb(157, 40, 180);
}

.film-details-container{
    display: flex;
    flex: 1;
    padding-left: 5px;
}

.film-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.release-date{
    font-size: 1.1rem;
}

.film-length{
    font-size: 1.1rem;
}

.show-more{
    font-size: 1.1rem;
    color:rgb(177, 70, 204);
    text-decoration: none;
}

.show-more>a{
  color:rgb(177, 70, 204);
  text-decoration: none;
}

.show-more:hover{
    font-weight: bold;
    cursor: pointer;
}

.rating-header{
    text-align: center;
    padding-top: 20px;
}

.stars-container{
    font-size: 1.25rem;
    color: goldenrod;
    cursor: pointer;
}

.stars-container:hover{
    color: gold;
}

.current-rating{
    text-align: center;
    font-size: 1.25rem;
}
