<div class="film-details-container">

    <div class="film-details-left-container">
        <div class="film-image-container">
            <div class="film-image">
                <img class="image-title" [src]="'https://picsum.photos/id/'+film.filmId+'/200'" alt="film image">
            </div>

            <div class="film-details-container">
                <div class="film-details">
                    <div class="film-title">
                        <p>{{ film.title }}</p>
                    </div>
                    <div class="release-date">
                        Release date: {{ film.releaseYear }}
                    </div>
                    <div class="category">
                      Category: {{ film.filmCategory[0].name }}
                  </div>
                    <div class="film-length">
                        Length: {{ film.length }} minutes
                    </div>
                    <div class="show-more">
                        <p><a [href]="'/more/'+film.filmId" target="_blank">More details...</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="film-details-right-container">
        <div class="star-rating-icon-container">
            <div class="rating-the-film">
                <div class="rating-header">
                    <h1>Rate this film!</h1>
                </div>
                <div class="stars-container">
                    <p>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                </p>
                </div>
            </div>
            <div class="current-rating">
                <p>Current rating : {{ film.score }} <fa-icon [icon]="faStar"></fa-icon> ({{ film.scoreCount }})</p>
            </div>
        </div>
    </div>

</div>
