<!--search-box-container-->
<div class="search-box-container">
    <div class="input-container">
      Search: <input type="text" id="search-input" name= "search-input" placeholder="Search for a film">
    </div>   
    <div class="search-button-container">
      <button class="search-submit-button">Search!</button>
    </div> 
</div>
<div class="films-found-text-container">
  Films were found matching your search!
</div>
<!--Display all of the films found as searchitem components-->
<div class="films-found-container">
  <div class="search-item-container">
    <app-searchitem></app-searchitem>
  </div>
  
  <div class="search-item-container">
    <app-searchitem></app-searchitem>
  </div>
  
</div>