<!--search-box-container-->
<div class="search-box-container">
    <div class="input-container">
        <input type="text" id="search-input" name= "search-input" placeholder="Search for a film">
    </div>   
    <div class="search-button-container">
        <button class="search-submit-button">Search!</button>
    </div> 
</div>

<div class="float-container">
  <div class="float-child">
    <app-searchitem></app-searchitem>
  </div>
  
  <div class="float-child">
    <app-searchitem></app-searchitem>
  </div>
  
</div>