.search-box-container{
    width:100%;
    text-align: center;
    height:100px;
    padding-top: 15px;
}

.input-container{
    font-size:1.5rem
}
.films-found-text-container{
    font-size:1.2rem;
    text-decoration: underline;
}

#search-input{
    height:2rem;
    background-color: #b6b6bb;
    width:400px;
    color: rgb(16, 17, 17);
    font-size: 1.2rem;
}

#search-input:hover{
    border: 1px solid gray;
}

.search-button-container{
    padding-top: 5px;
}

.search-submit-button{
    height:2rem;
    width:75px;
    background-color:blueviolet;
    color: rgba(240, 248, 255, 0.822);
    font-weight: bold;
    border: 1px solid blueviolet;;
    border-radius: 10%;
}
.search-submit-button:hover{
    background-color: rgb(107, 16, 107);
    border: 1px solid rgb(107, 16, 107);
}

.films-found-container{
    height: calc(100% - 100px);
    align-items: center;
}

